<div class="modal-header">
  <h4 class="modal-title">Please, confirm delete operation</h4>
  <button type="button" class="close" aria-label="Close" (click)='cancel()'>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  Are you sure want to delete transaction (Id: {{transaction.id}})?
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)='cancel()'>Cancel</button>
  <button type="button" class="btn btn-primary"(click)='confirm()'>Ok</button>
</div>
